name: Tests

on:
  push:
    branches: [ main ]

jobs:
  tshark-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Update Operating System
        run: sudo apt-get update

      - name: Install tshark
        run: sudo apt-get install -y tshark

      - name: Set Environment Variables
        run: export PATH=/usr/local/bin:$PATH

      - name: Clone Omi Data
        run: git clone --depth=1 https://github.com/Open-Markets-Initiative/Data.git

      - name: Run B3 Equities BinaryEntryPoint Sbe 8.0 Dissector Tests
        run: bash -x .github/tests/B3-Equities-BinaryEntryPoint-Sbe-v8-0-Test.sh

      - name: Run B3 Equities BinaryEntryPoint Sbe 8.1 Dissector Tests
        run: bash -x .github/tests/B3-Equities-BinaryEntryPoint-Sbe-v8-1-Test.sh

      - name: Run Cme Futures Mdp3 Sbe 1.9 Dissector Tests
        run: bash -x .github/tests/Cme-Futures-Mdp3-Sbe-v1-9-Test.sh

      - name: Run Iex Equities Deep IexTp 1.0.8 Dissector Tests
        run: bash -x .github/tests/Iex-Equities-Deep-IexTp-v1-0-8-Test.sh

      - name: Run Iex Equities Tops IexTp 1.5.6 Dissector Tests
        run: bash -x .github/tests/Iex-Equities-Tops-IexTp-v1-5-6-Test.sh

      - name: Run Iex Equities Tops IexTp 1.6.6 Dissector Tests
        run: bash -x .github/tests/Iex-Equities-Tops-IexTp-v1-6-6-Test.sh

      - name: Run Memx Equities MemoirDepthFeed Sbe 1.3 Dissector Tests
        run: bash -x .github/tests/Memx-Equities-MemoirDepthFeed-Sbe-v1-3-Test.sh

      - name: Run Nasdaq Equities TotalView Itch 5.0 Dissector Tests
        run: bash -x .github/tests/Nasdaq-Equities-TotalView-Itch-v5-0-Test.sh

      - name: Run Nasdaq Ise OrderComboFeed Itch 1.1 Dissector Tests
        run: bash -x .github/tests/Nasdaq-Ise-OrderComboFeed-Itch-v1-1-Test.sh

      - name: Run Nyse Equities OpenBook Ultra 2.1.b Dissector Tests
        run: bash -x .github/tests/Nyse-Equities-OpenBook-Ultra-v2-1-b-Test.sh


